colorama
Flask
flaskwebgui
fritm
keyboard
mouse
numpy
psutil
PyAutoGUI
scapy==2.4.2
waitress
pywin32
tqdm
requests
python-dotenv
pyperclip
python-dateutil
playsound
undetected_chromedriver
git+https://github.com/JustNao/Py3AMF.git@master