colorama
Flask
flaskwebgui
fritm
keyboard
mouse
numpy
psutil
PyAutoGUI
scapy==2.5.0
waitress
pywin32
tqdm
requests
python-dotenv
pyperclip
python-dateutil
playsound==1.2.2
undetected_chromedriver
git+https://github.com/JustNao/Py3AMF.git@master